{% extends 'base.html' %}
{% block content %}
<h3>Таблица: product_type (Типы изделий)</h3>
<form method="POST" class="mb-4 bg-light p-3 border">
    <div class="row">
        <div class="col"><input type="text" name="name" class="form-control" placeholder="Название (name)" required></div>
        <div class="col"><input type="text" name="description" class="form-control" placeholder="Описание (description)"></div>
        <div class="col"><button type="submit" class="btn btn-success">Добавить</button></div>
    </div>
</form>
<table class="table table-bordered">
    <thead class="table-dark"><tr><th>id_product_type</th><th>name</th><th>description</th><th>Действие</th></tr></thead>
    <tbody>
        {% for row in data %}
        <tr><td>{{ row.id_product_type }}</td><td>{{ row.name }}</td><td>{{ row.description }}</td>
        <td><a href="/delete_product/{{ row.id_product_type }}" class="btn btn-sm btn-danger">Удалить</a></td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
